.page-content {
    display: flex;
    flex-flow: column;
    /*    width: 880px;*/
    align-items: center;
}

.page-content-left {
    border-radius: 5px;
    min-height: 200px;
    min-width: 300px;
}

.page-content-right {
    border: 1px solid #e9e9e9;
    background: #fafafa;
    border-radius: 5px;
    min-height: 200px;
    width: 100%;
    margin-left: 24px;
}

.page-actions-summary {
    border: 1px solid #e9e9e9;
    background: #fafafa;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 24px;
}

.page-actions-steps {
    border: 1px solid #e9e9e9;
    background: #fafafa;
    padding: 16px;
    border-radius: 5px;
}

.page-section-divider {
    margin: 8px 0 16px;
}

.form-container {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}
